@import 'compass/css3';
@import '_reset.scss';

a {color: white;}

.underbelly {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(83, 59, 92, 1);
  @include background-image(
    radial-gradient(0% 0%, circle cover, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 46%), 
    linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 30%, rgba(165, 124, 120, .4) 50%, rgba(165, 124, 120, .4) 65%, rgba(0,0,0,0.3) 80%)
  );
  //toggle open
  &.open {
    .leader {
      @include transform(scale(0.5) translate(80%));
    }
    .navigation {
      a {
        text-indent: 0;
        opacity: 1;
      }
    }
  }
  
  
  .toggler {
    color: white;
    font-size: 1.8rem;
    text-align: center;
    display: block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    position: absolute;
    top: 10px; left: 10px;
    z-index: 100;
  }
  .leader {
    position: absolute;
    height: 100%;
    width:100%;
    z-index: 50;
    background-color: rgba(255,255,255, 0.15);
    transition: -webkit-transform 300ms ease;
  }
  .navigation {
    position: absolute;
    z-index: 10;
    top: 45%;
    left:20px;
    width: 210px;
    overflow: hidden;
    a {
      display: block;
      font-size: 1.6rem;
      line-height: 2;
      white-space: nowrap;
      text-indent: 100%;
      opacity: 0;
      &:nth-of-type(1){
        transition: text-indent 300ms ease, opacity 200ms ease;
      }
      &:nth-of-type(2){
        transition: text-indent 300ms ease 100ms, opacity 200ms ease 100ms;
      }
      &:nth-of-type(3){
        transition: text-indent 300ms ease 200ms, opacity 200ms ease 200ms;
      }
    }
  }
}